{% extends "layout.html" %}
    {% block title %}
    <title>Manual De Usuario</title>
    {% endblock %}

    {% block content %}
    <div class="" style="text-align: center;">
        <br>
        <h1>MANUAL DE USUARIO</h1><br><br>

        <h2><a href="/" class="mu">Inicio</a></h2> <br>
        <p style="padding: 0 33% 0 33%">En el <a href="/" class="mua">inicio</a> encontramos una breve descripción de que es el modelo de MonteCarlo y más abajo encontramos una pequeña descripción de que es un <a href="/" class="mua">manual de usuario</a> y su respectivo botón para poder visualizarlo</p>
        <br><br>

        <h2><a href="/modamm" class="mu">Estadística y Probabilidad</a></h2> <br>
        <p style="padding: 0 33% 0 33%">En esta sección encontraremos un formulario el cual te pedirá llenar con información, tales como son dataset y números para poder generar la <a href="/modamm" class="mua">Moda Media y Media</a> de los datos que se están ingresando</p>
        <br><br>

        <h2><a href="/nunaleatorio" class="mu">Números Aleatorios</a></h2> <br>
        <p style="padding: 0 33% 0 33%">Obtendremos una pequeña introducción sobre <a href="/nunaleatorio" class="mua">qué son los números aleatorios</a>, además tendremos un botón con el cual nos podremos redirigir a <a href="/mcuadradosmedios" class="mua">Cuadramos Medios</a>, <a href="/mcongruencialineal" class="mua">Congruencia Lineal</a> y <a href="/mcongruenciamulti" class="mua">Congruencia Multiplicativa</a>, en cada uno de ellos encontraremos un form en el cual debemos que llenar la información que requiera para así generar la Simulación</p>
        <br><br>

        <h2><a href="/pronostico" class="mu">Pronósticos</a></h2> <br>
        <p style="padding: 0 33% 0 33%">En esta ruta obtendremos una brebe introducción sobre <a href="/pronostico" class="mua">que son los pronósticos</a>, y a su vez varios botones que nos redigiran a su propio método, tal como lo es <a href="/pmediamovil" class="mua">Media Móvil</a>, <a href="/psuavizacion" class="mua">Suavización</a>, <a href="/pregresionlineal" class="mua"></a>Regresión Lineal y <a href="/pregresionexpo" class="mua">Regresión Exponencial</a> en la cual solo nos pedirá ningun tipo de dato, debido a que solo es un ejemplo predeterminado</p>
        <br><br>

        <h2><a href="/modysimu" class="mu">Modelamiento y Simulación</a></h2> <br>
        <p style="padding: 0 33% 0 33%">Se nos brindará una pequeña introducción sobre el tema que es <a href="/modysimu" class="mua">Modelamiento y Simulación</a> para conocer su funcionamiento, dentro de la misma tendremos 3 botones los cuales nos permitiran ir a los modelos <a href="/montecarlo" class="mua">Montecarlo</a>, <a href="/lineaespera" class="mua">Líneas de espera</a> y <a href="/sisinventario" class="mua">Sistema y inventario</a>, en las cuales todas nos pedirán llenar un formulario para generar la simulación menos MonteCarlo, debido a que es un ejemplo de como se realiza dicha simulación</p>
        <br><br>

    </div>
        
    {% endblock %}