{% extends "layout.html" %}
    {% block title %}
    <title>Modelamiento y simulación</title>
    {% endblock %}

    {% block content %}
    <div class="" style="text-align: center;">
        <br><br><h1>¿Qué es Modelamiento y Simulación?</h1><br>
        <p style="margin: 0 140px 0 140px;">Posibilita el estudio de la naturaleza y los sistemas técnicos apoyados en las tecnologías de la información y la comunicación. En muchos casos, el sistema en estudio no está directamente disponible para la experimentación  por razones económicas, bioéticas, saludables o  de vida, complejidad, etc. Las reglas de comportamiento y  estructura del sistema están representadas por modelos lógicos o ciberfísicos formales que pueden explicar la evolución del sistema a lo largo del tiempo. Esto hace posible inferir sobre el modelo a través de "qué pasaría si" y "experimentos" al examinar los resultados de los cambios en el sistema original y su entorno.</p><br>
        <h2>Métodos a elegir</h2><br><br>
        <a href="/montecarlo" class="btn btn-primary btn-padding">MonteCarlo</a><a href="/lineaespera" class="btn btn-primary btn-padding">Líneas de espera</a><a href="/sisinventario" class="btn btn-primary btn-padding">Sistema de inventario</a><br><br><br><br>
        </div>
    {% endblock %}