{% extends "layout.html" %}
    {% block title %}
    <title>Números Aleatorios</title>
    {% endblock %}

    {% block content %}
    <div class="" style="text-align: center;">
    <br><br><h1>¿Que són los números aleatorios?</h1><br>
    <p style="margin: 0 140px 0 140px;">Los números aleatorios son números obtenidos por casualidad. Es decir, no depende de otro número. Este es el caso  donde el número 5 puede ser la suma de  2 y  3.</p><br>
    <p style="margin: 0 140px 0 140px;">Cabe recordar que la coincidencia se refiere a todos los eventos que no siguen las pautas en las que se define la causa. Por tanto, hablaremos de los números obtenidos sin ningún motivo evidente ni patrón definido, como en el ejemplo de la suma.</p><br>
    <p style="margin: 0 140px 0 140px;">Un ejemplo de número aleatorio es el que se obtiene al tirar los dados en un juego de mesa. Como es bien sabido, el resultado no depende de la multiplicación o suma. Bueno, cómo caen los dados depende  de tu suerte.</p><br><br>
    <h2>Métodos a elegir</h2><br><br>
    <a href="/mcuadradosmedios" class="btn btn-primary btn-padding">Cuadrados Medios</a><a href="/mcongruencialineal" class="btn btn-primary btn-padding">Congruencia Lineal</a><a href="/mcongruenciamulti" class="btn btn-primary btn-padding">Congruencia Multiplicativa</a><br><br><br><br>
    </div>
    {% endblock %}