{% extends "layout.html" %}
    {% block title %}
    <title>Pronóstico</title>
    {% endblock %}

    {% block content %}
    <div class="" style="text-align: center;">
        <br><br><h1>¿Que son los pronósticos?</h1><br>
        <p style="margin: 0 140px 0 140px;">Pronóstico  se deriva de la palabra latina "prognosis" y predice lo que sucederá en el futuro a través de varios signos, síntomas, sospechas, intuiciones, precedentes y estudios realizados, especialmente los realizados después de la publicidad.</p><br>
        <p style="margin: 0 140px 0 140px;">Es una estimación anticipada del valor de una variable, por ejemplo: la demanda de un producto.</p><br><br>
        <h2>Métodos a elegir</h2><br><br>
        <a href="/pmediamovil" class="btn btn-primary btn-padding">Media Móvil</a><a href="/psuavizacion" class="btn btn-primary btn-padding">Suavización</a><a href="/pregresionlineal" class="btn btn-primary btn-padding">Regresión Lineal</a><a href="/pregresionexpo" class="btn btn-primary btn-padding">Regresión exponencial</a><br><br><br><br>
        </div>
    {% endblock %}